{% extends "base.html" %}

{% block extrahead %}
  <script>document.documentElement.classList.add("js");</script>
  <link rel="preload" href="{{ 'fonts/inter-latin-400.woff2' | url }}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ 'fonts/space-grotesk-latin-600.woff2' | url }}" as="font" type="font/woff2" crossorigin>
  {{ super() }}
  {% if social_image_url %}
  <meta property="og:title" content="{{ social_title }}">
  <meta property="og:description" content="{{ social_description }}">
  <meta property="og:image" content="{{ social_image_url }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ social_title }}">
  <meta name="twitter:description" content="{{ social_description }}">
  <meta name="twitter:image" content="{{ social_image_url }}">
  {% endif %}
  {% if config.extra.goatcounter_code %}
  <script data-goatcounter="https://{{ config.extra.goatcounter_code }}.goatcounter.com/count"
          async src="https://gc.zgo.at/count.js"></script>
  {% endif %}
{% endblock %}
